/* Set Custom Variables here
 * ====================================================
*/
$base-font-size:    16px!default;
$base-line-height:  24px!default;
$base-spacing-unit: $base-line-height!default;
$line-height-ratio: $base-line-height / $base-font-size;
$base-page-width: 960px!default;

$breakpoints: (
    'palm' '(max-width: 480px)',
    'portable' '(max-width: 767px)',
    'desk' '(min-width: 768px)'
);

$base-font-family: "Helvetica Neue", Helvetica, sans-serif;

$base-brand-color: #002f6f;
$base-font-color: #333435;
$base-ui-color: #f5f6f7;
$base-ui-radius: 4px;
$push: true;


/* Load Frameworks
 * ====================================================
*/
@import "vendor/csswizardry-grids";
@import "generic/responsive-helpers";

/* Load partials
 * ====================================================
*/
@import "generic/reset";
@import "generic/shared";
@import "generic/normalize";
@import "generic/global";
@import "generic/buttons";
@import "generic/nav";

@import "theme/typography";
@import "theme/landing";
@import "theme/main-nav";

