---
layout: default.de
title: Peer Instruction for very large Groups, Classroom-Response-System, Audience-Feedback
---

<header class="landing-header">
    {% include layout/nav.de.html variant="main-nav--header" %}

    <div class="centered">
        <div class="landing-header__lang" data-not-in-locale="de">
            <a href="/">Switch to English page &rsaquo;</a>
        </div>
        <div class="landing-header__desc">
            <h1 class="landing-header__title">
                Kostenloses Live-Feedback
            </h1>

            <article class="landing-header__text">
                <p>Interagieren Sie mit Ihrem Publikum. Mit PINGO können Sie einfach Fragen an Ihr Publikum stellen.
                    Jeder, der ein internetfähiges Gerät besitzt kann sofort teilnehmen.</p>
            </article>

            <div class="landing-header__actions">
                <a class="button button--hollow"
                   href="https://pingo.coactum.de/users/sign_up?utm_source=landing-page&utm_medium=web&utm_campaign=lndng-btn-tp">Kostenlos
                    registrieren</a>
                <a class="button button--stripped" href="tour">mehr erfahren &rsaquo;</a>
            </div>
        </div>

    </div>
</header>

{% include container/how.de.html %}
{% include container/in_action.de.html %}
{% include container/testimonials.de.html %}
{% include container/call.de.html %}
