---
layout: default
title: Peer Instruction for very large Groups, Classroom-Response-System, Audience-Feedback
---

<link rel="alternate" hreflang="de" href="http://trypingo.com/de/" />
<header class="landing-header">
	{% include layout/nav.en.html variant="main-nav--header" %}

	<div class="centered">
		<div class="landing-header__lang" data-in-locale="de">
			<a href="de" hreflang="de">Zur deutschen Seite wechseln &rsaquo;</a>
		</div>
		<div class="landing-header__desc">
			<h1 class="landing-header__title">
				Free Audience Response
			</h1>

			<article class="landing-header__text">
				<p>PINGO enables you to interact with your audience. Start live polls in your browser. Everybody with a device that is connected to the internet can take part.</p>
			</article>

			<div class="landing-header__actions">
				<a class="button button--hollow" href="https://pingo.upb.de/users/sign_up?utm_source=landing-page&utm_medium=web&utm_campaign=lndng-btn-tp">Sign Up For Free</a>
				<a class="button button--stripped" href="en/features">learn more &rsaquo;</a>
			</div>
		</div>

	</div>
</header>

{% include container/how.en.html %}
{% include container/in_action.en.html %}
{% include container/testimonials.en.html %}
{% include container/call.en.html %}
