<section class="how">
	<div class="centered">
		<h1 class="how__title">So funktioniert’s</h1>
		<div class="grid">
			<div class="grid__item one-third portable--one-whole">
				<h2>1. Frage stellen</h2>
				<figure class="how__figure">
					<img src="/assets/img/icon-list.svg" alt="list">
					<figcaption>Sie können Ihre Fragen vorbereiten oder Ad-hoc-Umfragen erstellen.</figcaption>
				</figure>
			</div>

			<div class="grid__item one-third portable--one-whole">
				<h2>2. Antworten abwarten</h2>
				<figure class="how__figure">
					<img src="/assets/img/icon-devices.svg" alt="devices">
					<figcaption>Jeder, der ein internetfähiges Gerät besitzt, kann teilnehmen. Es ist keine Anmeldung erforderlich.</figcaption>
				</figure>
			</div>

			<div class="grid__item one-third portable--one-whole">
				<h2>3. Ergebnisse ansehen</h2>
				<figure class="how__figure">
					<img src="/assets/img/icon-presentation.svg" alt="presentation">
					<figcaption>Ergebnisse werden für große Leinwände aufbereitet. Sie werden im Browser oder in Powerpoint angezeigt.</figcaption>
				</figure>
			</div>
		</div>
	</div>
</section>
