<section class="how">
	<div class="centered">
		<h1 class="how__title">How it works</h1>
		<div class="grid">
			<div class="grid__item one-third portable--one-whole">
				<h2>1 Ask a question</h2>
				<figure class="how__figure">
					<img src="/assets/img/icon-list.svg" alt="list">
					<figcaption>Prepare your questions before your talk or create polls immediately on-the-fly.</figcaption>
				</figure>
			</div>

			<div class="grid__item one-third portable--one-whole">
				<h2>2 The audience responds</h2>
				<figure class="how__figure">
					<img src="/assets/img/icon-devices.svg" alt="devices">
					<figcaption>Everybody with a device that connects to the internet can take part. No sign-up required.</figcaption>
				</figure>
			</div>

			<div class="grid__item one-third portable--one-whole">
				<h2>3 View results</h2>
				<figure class="how__figure">
					<img src="/assets/img/icon-presentation.svg" alt="presentation">
					<figcaption>Responses are optimized for the big screen. See them in your browser or in a powerpoint presentation.</figcaption>
				</figure>
			</div>
		</div>
	</div>
</section>
