<section class="testimonials">
	<div class="centered">
		<h2 class="testimonials__title">Über 2000 Dozenten weltweit setzen auf PINGO</h2>
		<div class="grid">
			<article class="grid__item one-third portable--one-whole testimonials__item">
				<p>
					„Ich setze PINGO schon seit der Testphase in meinen Lehrveranstaltungen mit
					mehreren hundert Studierenden ein und bin noch nie enttäuscht worden! Ein
					einfach, intuitiv bedienbares Werkzeug, das Interaktion ermöglicht und ohne
					viel Schnick-Schnack zuverlässig funktioniert.“
				</p>
				<p class="testimonials__author">—Prof. Dr. Stefan Sackmann,<br> Martin-Luther-Universität Halle-Wittenberg</p>
			</article>
			<article class="grid__item one-third portable--one-whole testimonials__item">
				<p>
					„Die einfache und intuitive Bedienbarkeit erlaubt es uns, PINGO auch spontan und ohne viel Vorbereitung in Vorlesungen, Seminaren und Übungen einzusetzen. Dieser Medienwechsel hat sich schon oft bewährt, um Studierende zusätzlich zur Mitarbeit zu motivieren.“
				</p>
				<p class="testimonials__author"><br> —Prof. Dr. Alexander Benlian,<br> Technische Universität Darmstadt</p>
			</article>
			<article class="grid__item one-third portable--one-whole testimonials__item">
				<p>
					„PINGO bietet eine gute Möglichkeit die Lehre mit unterhaltenden Elementen aufzulockern und die Aufmerksamkeit der Studierenden zu steigern. Im Nebeneffekt haben diese Elemente für die  Studierenden rekapitulierende und verfestigende und für die Lehre optimierende Wirkung.“
				</p>
				<p class="testimonials__author">—Prof. Dr. Achim Schmidtmann,<br>FH Dortmund</p>
			</article>
		</div>
	</div>
</section>
