<section class="testimonials">
	<div class="centered">
		<h1 class="testimonials__title">Over 2000 lecturers already use PINGO</h1>
		<div class="grid">
			<article class="grid__item one-third portable--one-whole testimonials__item">
				<p>
					“I've been using PINGO in my lectures with many hundred students since their inital beta and have never been disappointed: A reliable, easy and intuitive tool for classroom interaction without any folderol.”
				</p><br>
				<p class="testimonials__author">—Prof. Dr. Stefan Sackmann,<br> Martin-Luther-University Halle-Wittenberg</p>
			</article>
			<article class="grid__item one-third portable--one-whole testimonials__item">
				<p>
					“PINGO is a fantastic little piece of software.  It’s simple,
     well-designed and quick to set up for a lecturer, it’s simple,
     well-designed and quick to use for the students. I also found it very
     reliable.”
				</p><br>
				<p class="testimonials__author"><br> —Mario Fiorini,<br> University of Technology Sydney</p>			</article>
			<article class="grid__item one-third portable--one-whole testimonials__item">
				<p>
					“From the second year of our curriculum most of the teaching activities
are done in small groups. PINGO is a mean to bring the spirit of this
active learning phylosophy to the first study year too where we have large
classes of over 500 students.”
				</p>
				<p class="testimonials__author">—Dr. Daniel Scherly,<br>Faculty of Medicine of the University of Geneva</p>
			</article>
		</div>
	</div>
</section>
