<header class="landing-header">
	<div class="centered">
		<div class="grid">
			<div class="grid__item one-half portable--one-whole">
				<img src="img/logo.png" alt="PINGO" class="landing-header__logo">
				<h1 class="landing-header__title">
					Peer Instruction <br> for very large Groups
				</h1>
				<article class="landing-header__text">
					<p>Pingo ist ein <strong>kostenloses</strong> Live-Feedback-System für die Lehre zur Aktivierung von Studierenden insbesondere in großen Lehrveranstaltungen. </p>
				</article>
				<div class="landing-header__actions">
					<a class="button button--hollow" href="https://pingo.upb.de/users/sign_up?utm_source=landing-page&utm_medium=web&utm_campaign=lndng-btn-tp">Als Dozent anmelden</a>
					<a class="button button--stripped">mehr erfahren &rsaquo;</a>
				</div>
			</div>
			<div class="landing-header__phone portable--hide"></div>
		</div>
	</div>
</header>
<nav class="main-nav">
	<div class="centered">
		<ul class="main-nav__links nav">
			<li><a href="#">Features</a></li>
			<li><a href="#">Team</a></li>
			<li><a href="#">Publikationen</a></li> 
		</ul>
	</div>
</nav>
<section class="centered macbook-section">
	<div class="macbook-section__bg portable--hide">
	</div>
	<div class="grid">
		<div class="grid__item one-half push--desk--one-half portable--one-whole">
			<article class="macbook-section__text">
				<h2>Keine Installation, keine zusätzliche Hardware notwendig.</h2>
				<p>PINGO funktioniert über den Browser und wird von der Universität Paderborn kostenlos zur Verfügung gestellt. Studierende können einfach über den Browser in ihrem Smartphone, Tablet oder Notetbook abstimmen. Ebenso können Dozenten ihre Fragen über den Browser vorbereiten und Umfragen starten bzw. stoppen.</p>
			</article>
		</div>
	</div>
</section>
<section class="crowd-section">
	<div class="centered">
		<div class="grid">
			<article class="grid__item one-third lap--one-half palm--one-whole crowd-section__text">
				<h2>Legen Sie sofort los</h2>
				<p>Es ist keine Vorbereitung notwendig. Melden Sie sich an und starten sie direkt eine <strong>Quick-Session</strong>, um unmittelbares Feedback zu bekommen.</p>
			</article>
		</div>
	</div>
</section>
<section class="call-section">
	<article class="centered call-section__text">
		<p><a class="button button--primary" href="https://pingo.upb.de/users/sign_up?utm_source=landing-page&utm_medium=web&utm_campaign=lndng-btn-bttm">Jetzt kostenlos anmelden</a>
		</p>
		<p>
			<a href="#" class="muted-link">Noch nicht überzeugt? Jetzt alle Features von PINGO ansehen &rsaquo;</a>
		</p>
	</article>
</section>
<footer class="main-footer">
	<div class="centered">
		<div class="grid">
			<ul class="grid__item one-sixth portable--one-whole main-footer__links">
				<li><h3>PINGO</h3></li>
				<li><a href="#">Features</a></li>
				<li><a href="#">Team</a></li>
				<li><a href="#">Publikationen</a></li>
			</ul>
			<ul class="grid__item one-sixth portable--one-whole main-footer__links push--top">
				<li class="push--top"><a href="https://blogs.uni-paderborn.de/pingo/">Blog</a></li>
				<li><a href="https://pingo.upb.de/privacy_policy.html">Datenschutz</a></li>
				<li><a href="https://blogs.uni-paderborn.de/pingo/impressum/">Impressum</a></li>
			</ul>
		</div>
	</div>
</footer>
