<header class="landing-header">
	<div class="centered">
		<div class="grid">
			<div class="grid__item one-half lap--one-whole">
				<img src="img/logo.png" alt="PINGO" class="landing-header__logo">
				<h1 class="landing-header__title">
					Peer Instruction <br> for very large Groups
				</h1>
				<article class="landing-header__text">
					<p>Pingo ist ein <strong>kostenloses</strong> Live-Feedback-System für die Lehre zur Aktivierung von Studierenden insbesondere in großen Lehrveranstaltungen. </p>
				</article>
				<div class="landing-header__actions">
					<a class="button button--hollow">Als Dozent anmelden</a>
					<a class="button button--stripped">mehr erfahren &rsaquo;</a>
				</div>
			</div>
			<div class="landing-header__phone"></div>
		</div>
	</div>
</header>
<nav class="main-nav">
	<div class="centered">
		<ul class="main-nav__links nav">
			<li><a href="#">Features</a></li>
			<li><a href="#">Team</a></li>
			<li><a href="#">Publikationen</a></li> 
		</ul>
	</div>
</nav>
