/* Set Custom Variables here
 * ====================================================
*/

$breakpoints: (
	'palm' '(max-width: 480px)',
	'lap' '(min-width: 481px) and (max-width: 767px)',
	'portable' '(max-width: 767px)',
	'desk' '(min-width: 768px)'
);

$push: true;
$use-markup-fix: false;
$gutter: 48px;

$base-font-size:    16px;
$base-line-height:  24px;
$line-height-ratio: $base-line-height / $base-font-size;

$base-page-width:   960px;
$base-spacing-unit: $base-line-height;


$base-font-family: "Fira Sans", "Helvetica Neue", Helvetica, sans-serif;
$base-font-color: #333435;

$brand-color: #002f6f;

$base-ui-color: #f5f6f7;
$base-ui-radius: 4px;

$success-color: #80C080;
$error-color: #C45D58;

/* Load Frameworks
 * ====================================================
*/
@import "vendor/csswizardry-grids";
@import "generic/responsive-helpers";
@import "vendor/batch";

/* Load partials
 * ====================================================
*/
@import "generic/mixins";
@import "generic/normalize";
@import "generic/reset";
@import "generic/shared";
@import "generic/typography";
@import "generic/global";
@import "generic/buttons";
@import "generic/forms";
@import "generic/nav";

@import "theme/typography";
@import "theme/layout";
@import "theme/landing";
@import "theme/main-nav";
@import "theme/team";
@import "theme/features";
@import "theme/tour";

