html {
    font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
    overflow-y:scroll;
    min-height:100%;
    color: $base-font-color;
}

.centered {
	@include centered($base-page-width);
}

a {
	color: $brand-color;
	@include transition(all);
	text-decoration: none;
	
	&:hover {
		color: lighten($brand-color, 20%);
	}
}

img {
	margin-bottom: -4px; // prevent img tags from messing up baselines
}

.muted-link {
	color: $base-font-color;
}

.cf:before,
.cf:after {
	content: " ";
	display: table; 
}

.cf:after {
	clear: both;
}

.muted {
	color: lighten($base-font-color, 10%);
}

.smaller {
	font-size: 0.875*$base-font-size;
}

.align--center {
	text-align: center;
}

.align--right {
	text-align: right;
}

.float--right {
	float: right;
}

.nomargin {
	margin: 0;
}

figure img {
	margin-bottom: 0.5* $base-spacing-unit;
}
