.nav--inline {
	margin-left: -$base-spacing-unit;
	display: inline-block;

	li {
		display: inline-block;
		margin-left: $base-spacing-unit;	
	}

	a {
		display: inline-block;	
		margin-bottom: 0;
	}
}

.nav--block {
	margin-left: 0;
	display: block;

	li {
		display: block;
	}

	a {
		display: block;
	}
}
