.tour-section {
	@extend .information-container;
}

.tour-section--odd {
	background-color: $base-ui-color;
}

.tour-section--bars .centered {
	background: url(../img/bars.svg) no-repeat right bottom;
}

.example-question {
	text-align: center;
	font-style: italic;
}

.guideimg{
	padding: 5px;
	border: medium solid #ececec;
	background-color: white;
	}

	.fullsize{
		max-width: 100%;
	}
	
	.menu-section{
		position: fixed;
		width: 30%;
		margin-top: 10%;
		
	}
	
.guidebody .tour-section{
	margin-left:30%;
	width: 70%;
}

.upper{
	list-style:none;
	}

.lower{
	margin-left: 2em;
	
	}
	
	.header{
		font-size: 3em!important;
	}
	

@media (max-width: 850px) {
   
	.guidebody .tour-section{
		margin-left:0;
		width: 100%;
	}
	
	.menu-section{
		display: none;
		
	}
   
 }