.tour-section {
	@extend .information-container;
}

.tour-section--odd {
	background-color: $base-ui-color;
}

.tour-section--bars .centered {
	background: url(../img/bars.svg) no-repeat right bottom;
}

.example-question {
	text-align: center;
	font-style: italic;
}

.guideimg{
	padding: 5px;
	border: medium solid #ececec;
	background-color: white;
	}

	.fullsize{
		max-width: 100%;
	}
	
	.menu-section{
		position: fixed;
		width: 30%;
		margin-left: 250;
		margin-top: 50;
		
	}
	
.tour-section{
	margin-left:30%;
	width: 70%;
}	