/*------------------------------------*\
    $HEADER
\*------------------------------------*/
.main-header--landing {
	padding: 2*$base-spacing-unit 0 6*$base-spacing-unit;
	color: #bcc7d7;
	background-image: radial-gradient(ellipse at 90% 80%, #80bfe0 0%,#002f6f 53%,#001c41 100%);

	a {
		color: #fff;
	}
}

.main-header--landing__lang {
	float: right;
	opacity: .6;
	font-size: 0.85 * $base-font-size;
	line-height: 0.85 * $base-font-size;
	margin-top: -1em;
}

.main-header--landing__logo {
	margin-bottom: 2*$base-spacing-unit;
}

.main-header--landing__title {
	margin-bottom: $base-spacing-unit;
}

.main-header--landing__text {
	font-size: 1.5em;
	font-weight: 300;
	margin-bottom: 3*$base-spacing-unit;
}

.main-header--landing__actions {
	.button {
		border-color: #fff;
		color: #fff;
	}

	.button--hollow:hover {
		background-color: rgba(255,255,255,.05);
	}

	.button--stripped {
		opacity: .8;

		&:hover {
			opacity: 1;
		}
	}
}

.main-header--landing__phone {
	position: absolute;
	right: 0;
	top: $base-spacing-unit;
	width: 362px;
	height: 759px;
	background: url(../img/phone.png) no-repeat right center;
	animation: phone--slidein 1s ease;
}

.main-header--landing__desc {
	animation: slide-in--left 1s ease;
	position:relative;
}

@keyframes phone--slidein
{
	from {right:-100px;opacity: 0;transform: rotate(2deg)}
	to {right: 0; opacity: 1;transform: rotate(0deg)}
}

@keyframes slide-in--left
{
	from {left:-50px;opacity: 0;}
	to {left: 0; opacity: 1;}
}




/*------------------------------------*\
    $MACBOOK
\*------------------------------------*/
.macbook-section {
	margin: 2*$base-spacing-unit auto;
	min-height: 544px;
}

.macbook-section__bg {
	background: url(../img/macbook.png) no-repeat left top;
	width: 911px;
	height: 544px;
	position: absolute;
	right: 50%;
	top: 0;
}

.macbook-section__text {
	margin: 5*$base-spacing-unit 0;
}




/*------------------------------------*\
    $CROWD
\*------------------------------------*/
.crowd-section {
	background: url(../img/crowd.png) no-repeat center center;
	background-size: cover;
	min-height: 360px;
}

.crowd-section__text {
	background: white;
	padding: $base-spacing-unit;
}




/*------------------------------------*\
    $CALL
\*------------------------------------*/
.call-section {
	padding: 2*$base-spacing-unit 0 $base-spacing-unit;
}

.call-section__text {
	text-align: center;
}




/*------------------------------------*\
    $TESTIMONIALS
\*------------------------------------*/

.testimonials {
	padding: 2* $base-spacing-unit 0;
	color: lighten($base-font-color, 10%);
	background: $base-ui-color url(../img/quote.svg) no-repeat -5% 150%;
	background-size: auto 80%;
}

.testimonials__title {
	text-align:center;
	font-weight: bold;
	margin-bottom: 2*$base-spacing-unit;
}

.testimonials__author {
	text-align: right;
	font-style: italic;
	color: lighten($base-font-color, 25%);
}



/*------------------------------------*\
    $MEDIA-QUERIES
\*------------------------------------*/
@media (-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 144dpi) {
	.main-header--landing__phone {
		background: url(../img/phone@2x.png) no-repeat right center;
		background-size: 100% 100%;
	}

	.macbook-section__bg {
		background: url(../img/macbook@2x.png) no-repeat left top;
		background-size: 100% 100%;
	} 
}

@media only screen and #{nth(nth($breakpoints, 3), 2)} { // portable breakpoint
	.main-header {
		background-image: radial-gradient(ellipse at 100% 100%, #80bfe0 0%,#002f6f 53%,#001c41 100%);
		padding: 2*$base-spacing-unit 0;
	}

	.macbook-section__text  { 
		margin: 0;
	}

	.macbook-section {
		min-height: 0;
	}

	.main-footer__links .push--top {
		margin-top: 0;
	}

	.main-footer .centered {
		background-image: none;
	}
} 
