/*------------------------------------*\
    $HEADER
\*------------------------------------*/
.landing-header {
	padding: 7*$base-spacing-unit 0 5*$base-spacing-unit;
	background: url(../img/crowd-blue.png) no-repeat top center;
	background-size: cover;
	color: #fff;
	text-align: center;

	a {
		color: #fff;
	}
}

.landing-header__lang {
	float: right;
	opacity: .6;
	font-size: 0.85 * $base-font-size;
	line-height: 0.85 * $base-font-size;
	margin-top: -1em;
}

.landing-header__title {
	@extend .kilo;
	font-weight: 300;
}

.landing-header__text {
	@extend .lead;
	margin-bottom: 2*$base-spacing-unit;
}

.landing-header__actions {
	.button {
		border-color: #fff;
		color: #fff;
	}

	.button--hollow:hover {
		background-color: rgba(255,255,255,.05);
	}

	.button--stripped {
		opacity: .8;

		&:hover {
			opacity: 1;
		}
	}
}

.landing-header__desc  {
	filter: blur(0px);
	transform: scale(1);
	animation: fadein ease 1.25s;
}

@keyframes fadein {
	0%   { filter: blur(10px); transform: scale(.5);}
	50% { filter: blur(10px); }
	70%  { transform: scale(1);}
	100% { filter: blur(0px); }
}




/*------------------------------------*\
    $HOW-IT-WORKS
\*------------------------------------*/
.how {
	@extend .information-container;
	text-align: center;
}

@include grid-media-query('desk') { 
	.how__figure {
		height: 10*$base-spacing-unit;
		position: relative;

		figcaption {
			position: absolute;
			bottom: 0;
			width: 100%;
		}
	}
}


/*------------------------------------*\
    $CALL
\*------------------------------------*/
.call-section {
	padding: 2*$base-spacing-unit 0 $base-spacing-unit;
}

.call-section__text {
	text-align: center;
}




/*------------------------------------*\
    $TESTIMONIALS
\*------------------------------------*/

.testimonials {
	padding: 2* $base-spacing-unit 0;
	color: lighten($base-font-color, 10%);
	background: $base-ui-color url(../img/quote.svg) no-repeat -5% 150%;
	background-size: auto 80%;
}

.testimonials__title {
	text-align:center;
	font-weight: bold;
	margin-bottom: 2*$base-spacing-unit;
}

.testimonials__author {
	text-align: right;
	font-style: italic;
	color: lighten($base-font-color, 25%);
	font-size: 0.85 * $base-font-size;
}




/*------------------------------------*\
    $MEDIA-QUERIES
\*------------------------------------*/
@include grid-media-query('portable') { 
	.landing-header {
		padding-top: 0;
		padding-bottom: 3* $base-spacing-unit;
	}
	
	.landing-header .main-nav {
		margin-bottom: 3*$base-spacing-unit;
	}

} 
