/*------------------------------------*\
    $HEADER
\*------------------------------------*/
.main-header {
	background-color: $brand-color; // fallback
	color: #fff;
	padding: 1*$base-spacing-unit 0;
	background-image: radial-gradient(ellipse at bottom right, #80bfe0 0%,#002f6f 53%,#001c41 100%);
}

.main-header__title {
	color: #fff;
	font-size:2.25em;
	margin-bottom: 0;
}



/*------------------------------------*\
    $PAGE
\*------------------------------------*/
.page {
	padding-top: 2*$base-spacing-unit; 
}




/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
html {
	position: relative;
	box-sizing: border-box;
	padding-bottom: 19*$base-spacing-unit;
}

.main-footer {
	padding: $base-spacing-unit 0 0 ;
	background: #333;
	color: #fff;
	position: absolute; 
	bottom: 0;
	width: 100%;

	.centered {
		background: url(../img/logo-muted.svg) no-repeat right 62%;
	}

	a {
		color: #ccc;
		text-decoration: none;

		&:hover {
			color: #fff;
		}
	}
}

.main-footer__links {
	list-style: none;
	margin-left: 0;
	color: #777;

	li, h1, h2, h3 {
		line-height: 1.75*$base-font-size;
	}

	.push--top {
		margin-top: 1.75*$base-font-size;
	}
}

.main-footer__title {
	color: #fff;
}





/*------------------------------------*\
    $INFORMATION CONTAINER
\*------------------------------------*/
.information-container {
	padding: 3*$base-spacing-unit 0 2*$base-spacing-unit 0;
}




/*------------------------------------*\
    $MEDIA-QUERIES
\*------------------------------------*/
@include grid-media-query('desk') { 

	.page {
		padding-top: 7*$base-spacing-unit; // fixed nav
	}

	.page--container {
		padding-top: 4*$base-spacing-unit;
	}

	html {
		padding-bottom: 8*$base-spacing-unit; // footer spacing
	}
} 
