/*------------------------------------*\
    $REMOTE
\*------------------------------------*/
.download-container {
	text-align: center;
	margin-bottom: $base-spacing-unit - 4px;

	p {
		margin: 0;
	}

	.button {
		margin-bottom: 4px;
	}
}
