.people-list {
	margin-top: -2*$base-spacing-unit;
}

.people-list__item {
	margin-bottom: $base-spacing-unit;
	position: relative;
	min-height: 120px;
}

.people-list__photo {
	width: 90px;
	height: 120px;
	background-position: center center;
	background-size: cover;
	border-radius: $base-ui-radius;
	position: absolute;
	left: $base-spacing-unit;
}

.people-list__desc {
	padding-left: 90px + $base-spacing-unit;
	margin: 0;
}

.people-list__name {
	display: block;
}

.people-list__meta {
	@extend .muted;
	@extend .smaller;
	display: block;
}

.people-list__separator {
	margin-top: 2* $base-spacing-unit;
}
