.tour-section {
	@extend .information-container;
}

.tour-section--odd {
	background-color: $base-ui-color;
}

.tour-section--bars .centered {
	background: url(../img/bars.svg) no-repeat right bottom;
}

.example-question {
	text-align: center;
	font-style: italic;
}
