---
layout: tour
title: Tour
---

{% include container/how.en.html %}

<section class="tour-section tour-section--odd">
	<div class="centered">
		<div class="grid">
			<div class="grid__item one-quarter portable--one-whole">
				<p><img src="/assets/img/dropdown.png" width="217" alt="pingo quick-session dropdown"></p>
			</div>
			<div class="grid__item three-quarters portable--one-whole">
				<h1 class="hN push--top">Step 1: Start a Quick-Session</h1>
				<h2>Create a poll without any preparation</h2>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
			</div>
			<div class="grid__item one-whole">
				<h2>Any question type you can imagine</h2>
				<p>With multiple-choice, single-choice, tagcloud, and numeric questions, PINGO is a fully featured poll-application.</p>
			</div>
			<div class="grid__item one-third portable--one-whole">
				<figure class="example-question">
					<img src="/assets/img/choice-question.svg" alt="Choice Question">
					<figcaption>Multiple- or Single-Choice Question</figcaption>
				</figure>
			</div>
			<div class="grid__item one-third portable--one-whole">
				<figure class="example-question">
					<img src="/assets/img/tagcloud-question.svg" alt="Choice Question">
					<figcaption>Tagcloud</figcaption>
				</figure>
			</div>
			<div class="grid__item one-third portable--one-whole">
				<figure class="example-question">
					<img src="/assets/img/numeric-question.svg" alt="Numeric Question">
					<figcaption>Numeric Questions</figcaption>
				</figure>
			</div>
		</div>
	</div>
</section>

<section class="tour-section">
	<div class="centered">
		<h1 class="hN">Step 2: The audience responds</h1>
		<h2>Everybody with a smartphone, tablet or computer can take part</h2>
		<div class="grid grid--rev vertical-center">
			<div class="grid__item one-half portable--one-whole cf">
				<figure><img src="/assets/img/book-and-phone.png" alt="Devices" class="float--right portable--float-none"></figure>
			</div>
			<div class="grid__item one-half portable--one-whole">
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
			</div>
		</div>
	</div>
</section>

<section class="tour-section tour-section--odd">
	<div class="centered">
		<h1 class="hN">Step 3: View the results</h1>
		<h2>In your browser or in your PowerPoint </h2>
		<div class="grid vertical-center">
			<div class="grid__item two-thirds portable--one-whole">
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
			</div>
			<div class="grid__item one-third portable--one-whole">
				<figure>
					<img src="/assets/img/remote-results.png" alt="PINGO Remote results view">
				</figure>
			</div>
		</div>
	</div>
</section>

{% include container/call.en.html %}
