---
layout: tour.de
title: Tour
---

{% include container/how.de.html %}

<section class="tour-section tour-section--odd">
	<div class="centered">
		<div class="grid">
			<div class="grid__item one-quarter portable--one-whole">
				<p><img src="/assets/img/dropdown.png" width="217" alt="pingo quick-session dropdown"></p>
			</div>
			<div class="grid__item three-quarters portable--one-whole">
				<h1 class="hN push--top">Schritt 1: Quick-Session anlegen</h1>
				<h2>Ad-hoc Umfragen ohne Vorbereitung durchführen</h2>
				<p>Mit PINGOs Quick-Session-Feature ist es einfach, eine Umfrage ohne Vorbereitung während Ihres Vortrags zu erstellen. Alternativ können Sie jedoch auch Fragen vorbereiten und anschließen in Ihre Sessions einfügen. Sessions besitzen einen eindeutigen, vierstelligen Zugangscode, so dass Sie Ihre Sessions in mehreren Vorträgen nutzen können und Ihre Zuhörer sich keinen neuen Zugang merken müssen. Benutzen Sie den Fragen-Katalog, um Fragen mit Ihren Kollegen zu teilen oder veröffentlichen Sie Ihrer Fragen, um Sie der Allgemeinheit zur Verfügung zu stellen.</p>
			</div>
			<div class="grid__item one-whole">
				<h2>Verschiedene Fragetypen</h2>
				<p>PINGO ist ein vollausgestattetes Umfrage-Tool und unterstützt Multiple-Choice, Single-Choice, Freitext- und numerische Fragen.</p>
			</div>
			<div class="grid__item one-third portable--one-whole">
				<figure class="example-question">
					<img src="/assets/img/choice-question.svg" alt="Choice Question">
					<figcaption>Multiple- oder Single-Choice Frage</figcaption>
				</figure>
			</div>
			<div class="grid__item one-third portable--one-whole">
				<figure class="example-question">
					<img src="/assets/img/tagcloud-question.svg" alt="Choice Question">
					<figcaption>Freitext/Tagcloud</figcaption>
				</figure>
			</div>
			<div class="grid__item one-third portable--one-whole">
				<figure class="example-question">
					<img src="/assets/img/numeric-question.svg" alt="Numeric Question">
					<figcaption>Numerische Fragen</figcaption>
				</figure>
			</div>
		</div>
	</div>
</section>

<section class="tour-section">
	<div class="centered">
		<h1 class="hN">Step 2: Das Publikum antwortet</h1>
		<h2>Jeder mit einem Smartphone, Tablet oder Computer kann teilnehmen</h2>
		<div class="grid grid--rev vertical-center">
			<div class="grid__item one-half portable--one-whole cf">
				<figure><img src="/assets/img/book-and-phone.png" alt="Devices" class="float--right portable--float-none"></figure>
			</div>
			<div class="grid__item one-half portable--one-whole">
				<p>Jeder mit einem Smartphone, Tablet oder Computer kann teilnehmen. Zum Abstimmen ist keine Anmeldung oder Registrierung erforderlich. Zum Vergleich von Ergebnissen aus mehreren Durchgängen, können Sie eine Umfrage erneut starten.</p>
			</div>
		</div>
	</div>
</section>

<section class="tour-section tour-section--odd">
	<div class="centered">
		<h1 class="hN">Step 3: Ergebnisse ansehen</h1>
		<h2>Im Browser oder direkt in Powerpoint </h2>
		<div class="grid vertical-center">
			<div class="grid__item two-thirds portable--one-whole">
				<p>Ergebnisse werden als Diagramm, Tabelle oder Tagcloud aufbereitet. Verwenden Sie den Vollbild-Modus um den gesamten Bildschirm mit den Ergebnissen zu füllen. Die Ergebnisse können außerdem direkt über Ihren Folien mit unserer <a href="/powerpoint-remote">Remote App</a> angezeigt werden.</p>
			</div>
			<div class="grid__item one-third portable--one-whole">
				<figure>
					<img src="/assets/img/remote-results.png" alt="PINGO Remote results view">
				</figure>
			</div>
		</div>
	</div>
</section>

{% include container/call.de.html %}
