<footer class="main-footer">
	<div class="centered">
		<div class="grid">
			<ul class="grid__item one-sixth portable--one-whole main-footer__links">
				<li><h3 class="main-footer__title">PINGO</h3></li>
				<li><a href="/">Home</a></li>
				<li><a href="/de/features">Features</a></li>
				<li><a href="/de/team">Team</a></li>
			</ul>
			<ul class="grid__item one-sixth portable--one-whole main-footer__links push--top">
				<li class="push--top"><a href="https://blogs.uni-paderborn.de/pingo/">Blog</a></li>
				<li><a href="http://www.upb.de/pingo">Projektseite</a></li>
				<li><a href="http://pingo.upb.de">Direkt zu PINGO</a></li>
			</ul>
			<ul class="grid__item one-third portable--one-whole main-footer__links push--top">
				<li class="push--top"><a href="https://www.facebook.com/pingo.upb">Facebook</a></li>
				<li><a href="https://github.com/PingoUPB">GitHub</a></li>
				<li><a href="https://pingo.upb.de/privacy_policy.html">Datenschutz</a> & <a href="https://blogs.uni-paderborn.de/pingo/impressum/">Impressum</a></li>
			</ul>
		</div>
	</div>
</footer>
