<nav class="main-nav {{ include.variant }}">
	<div class="centered">
		<a href="./" class="main-nav__logo">
			<img src="/assets/img/logo.svg" alt="PINGO">
		</a>
		<ul class="main-nav__links nav--inline">
			<li{% if page.url == "/en/features/index.html" %} class="active" {% endif %}><a href="/en/features">Tour</a></li>
			<li{% if page.url == "/en/index.html" %} class="active" {% endif %}><a href="/">Help &amp; FAQ</a></li>
			<li class="main-nav__button"><a href="#">Sign Up</a></li>
		</ul>
	</div>
</nav>
