{% assign clean_url = page.url | remove: "/index.html" %}
{% assign current_page = site.data.nav_de | where: "url", clean_url | first %}

<nav class="main-nav {{ include.variant }}">
	<div class="centered">
		<a href="/de" class="main-nav__logo">
			<img src="/assets/img/logo.svg" alt="PINGO">
		</a>
		<ul class="main-nav__links nav--inline">
			{% assign roots = site.data.nav_de | where: "parent", "root" %}

			{% for p in roots %}
			<li {% if clean_url == p.url or current_page.parent == p.url %} class="active" {% endif %}>
				<a href="{{ p.url }}" title="{{ p.title }}">{{ p.title }}</a>
			</li>	
			{% endfor %}

			<li class="main-nav__button">
				<a href="https://pingo.upb.de/users/sign_up?utm_source=landing-page&amp;utm_medium=web&amp;utm_campaign=lndng-btn-nav">Sign Up</a>
			</li>
		</ul>
	</div>
</nav>

{% if current_page.parent != "root" %}
	{% assign children = site.data.nav_de | where: "parent", current_page.parent %}
{% else %}
	{% assign children = site.data.nav_de | where: "parent", current_page.url %}
{% endif %}

{% if children.size > 0 %}

<nav class="sub-nav">
	<div class="centered">
		<ul class="sub-nav__links nav--inline">
			{% for p in children %}
			<li {% if clean_url == p.url %} class="active" {% endif %}>
				<a href="{{ p.url }}" title="{{ p.title }}">{{ p.title }}</a>
			</li>		
			{% endfor %}
		</ul>
	</div> 
</nav>

{% endif %}

