<!DOCTYPE html>
<html lang="de">
		<head>
				<meta charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
				<title>PINGO – {{ page.title }}</title>
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<link rel="stylesheet" href="{{ site.baseurl }}assets/css/main.min.css">
				<script async src="{{ site.baseurl }}assets/js/scripts.min.js"></script>

		</head>
		<body>
			{{ content }}
			<footer class="main-footer">
				<div class="centered">
					<div class="grid">
						<ul class="grid__item one-sixth portable--one-whole main-footer__links">
							<li><h3>PINGO</h3></li>
							<li><a href="{{ site.baseurl }}">Home</a></li>
							<li><a href="{{ site.baseurl }}de/features">Features</a></li>
							<li><a href="{{ site.baseurl }}de/team">Team</a></li>
						</ul>
						<ul class="grid__item one-sixth portable--one-whole main-footer__links push--top">
							<li class="push--top"><a href="http://www.upb.de/pingo">Projektseite</a></li>
							<li><a href="http://pingo.upb.de">Direkt zu PINGO</a></li>
							<li><a href="https://github.com/PingoUPB">GitHub</a></li>
						</ul>
						<ul class="grid__item one-sixth portable--one-whole main-footer__links push--top">
							<li class="push--top"><a href="https://blogs.uni-paderborn.de/pingo/">Blog</a></li>
							<li><a href="https://pingo.upb.de/privacy_policy.html">Datenschutz</a></li>
							<li><a href="https://blogs.uni-paderborn.de/pingo/impressum/">Impressum</a></li>
						</ul>
					</div>
				</div>
			</footer>
		</body>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-35829703-2', 'trypingo.com');
	  ga('require', 'displayfeatures');
	  ga('send', 'pageview');
	
	</script>
</html>
